.contacts {
    margin: 8% 4% 0 4%;
    position: relative;
    color: #0E1823;

    .contacts__title {
        font-size: 1.7em;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 0 0 8% 4%;
    position: relative;
    }

    .contacts-head-img {
        position: absolute;
        left: 0%;
        top: 1%;
    }

    .logo-red {
        margin-bottom: 8%;
    }

    .contacts__address {
        padding: 0;
        margin: 0;
    }
    .contact-svg {
        margin-right: 4%;
    }

    .contact-data {
        display: flex;
        margin: 0 4% 4% 0;
    }

    .contacts__address-value {
        font-size: 0.875em;
        line-height: 1.375em;
    }

    .contacts__time-box {
        font-size: 0.875em;
        line-height: 1.375em;
    }

    .contacts__time-tag {
        flex-shrink: 0;
        margin: 3% 4% 0 0;
    }

    .contact-text-box {
    display: flex;
    flex-direction: column;
    margin-top: 3%;


    .bold-text-time {
        font-weight: 600;
    }
}

.link-svg {
margin-right: 4%;
}


.contact-link {
    font-size: 1.250em;
line-height: 1.500em;
color: #0E1823;
}

 .contact-data-link {
    margin: 0 0 4% 0;
} 

.contacts__phone-text-span {
 font-weight: 600;
}

.mobile-hide-order {
    display: none;
}

.button-writeus {
    color: #fff;
    position: relative;
    display: block;
    font-size: 0.875em;
    line-height: 1.05em;
    font-weight: 400px;
    letter-spacing: 0.1em;
    padding: 5% 0 5% 12%;
    margin-bottom: 4%;
    border-radius: 3px;
   }

   .button-writeus::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    background: #FF7344;
    transform: rotate(180deg);
    right: 18%;
    top: 0px;
  }

  .order-button-img {
      position: absolute;
      right: 7%;
      top: 29%;
  }
    
}