.features-list-box {
    margin: 0 4%;
    position: relative;
    padding-bottom: 20%;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
        margin: 0 12.75%;
        padding-bottom: 3.4%;
      }
}

.features-headtext {
    font-size: 1.7em;
    line-height: 2em;
    letter-spacing: 0.05em;
    margin-left: 4%;
    position: relative;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      display: none;
    }

}

.features-headtext::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 34px;
    background-image: linear-gradient(-90deg, #FF6E2F 0%, #F84343 100%);
    left: -3.5%;
    bottom: 16%;
    transform: rotate(0deg);
   }



.featurestext-img {
    position: absolute;
    left: 2px;
    top: 5px;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
        display: none;
      }
}

.features-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
        flex-direction: row;
        justify-content: space-around;
    }

}

.features-item {
display: flex;
font-size: 1em;
line-height: 1.25em;
margin-bottom: 20%;
position: relative;
@media screen and (min-width: 1024px) and (max-width: 1920px) {
   /*  font-size: 16px;
    line-height: 20px; */
    margin: 0;
    position: relative;
  }
}


.features-text {
    display: block;
    font-weight: 400;
}

.quality-text, .factory-text, .garantee-text {
    margin: 5px 0 0 30px;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
        margin: 4% 0 0 2.27em;
      }
}

.garantee-text{
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
    min-width: 180px;
}
}


.flask-text {
    margin: -4px 0 0 30px;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
        margin: 0.43% 0 0 2.27em;
      }
}

.features-icon {
    width: 43px;
    height: 43px;
    fill: linear-gradient(270deg, #FF6E2F 0%, #F84343 100%); 
    display: inline-block;
    vertical-align: middle;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
        width: 55px;
    height: 55px;
      }
}

.features-item::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 55px;
        background: #FF6E2F;
        left:  10%;
        bottom: 49%;
        transform: rotate(90deg);
        @media screen and (min-width: 1024px) and (max-width: 1920px) {
            display: none;
          }
        
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
    .quality::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 55px;
        background: #FF6E2F;
        left: 20%;
    bottom: 55%;
        transform: rotate(90deg);
    }

    .garantee::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 55px;
        background: #FF6E2F;
        left: 15%;
    bottom: 55%;
        transform: rotate(90deg);
    }


    .flask::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 55px;
        background: #FF6E2F;
        left: 18%;
    bottom: 55%;
        transform: rotate(90deg);
    }

    .factory::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 55px;
        background: #FF6E2F;
        left: 23%;
    bottom: 55%;
        transform: rotate(90deg);
    } 


    }