.page-footer {

    background-color: #0E1823;

    .page-footer__container {
        margin: 0 4% 0 4%;
        padding-top: 4%;
    }

    .page-footer__item_logo {

     margin-bottom: 4%;

    .mobile-hide-adress {
        display: none;
    }
    }

.menu-list-footer {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% 50%;


.menu-list-footer-item {

text-align: center;

    .menu-list-link {
        color: #fff;

    }
}
}

}