.main-header {
    /* background-image: url("../img/group.png"), url("../img/header@mobile.png");
    background-position: top top, right right; */
    background-color: #25394e;
    background-size: cover;
  
    .menu-container {
        position: relative;
        background-color: #0E1823;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    }


    .burger-menu-toggle-box {
        display: flex;
        justify-content: space-between;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .burger-menu-button {
        display: block;
    }

    .popup-menu {
        display: flex;
        flex-direction: column;
        padding-bottom: 4em;
    }

    .lang-toggle {
        display: none;
    }

    .phone {
        order: 3;
        text-align: center;
        font-size: 1.3em;
        line-height: 1.6em;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    .phone-img {
        display: inline-block;
        vertical-align: middle;
        padding-right: 1px;
    }

    .phone-text {
        color: #fff;
    }

    .login {
        display: flex;
        font-size: 0.875em;
        line-height: 1.05em;
        font-weight: 500;
     }

     
    .signin-btn {
        padding-top: 5%;
        padding-right: calc(100% - 94%);
        padding-bottom: 5%;
        padding-left: 4.6%; 
        flex: 2 1 auto;
        background-color: #fff;
    }

    .signin-link {
        display: flex;
        position: relative;
    }

    .signin-span {
        display: block;
        color: #0E1823;
    }

    .login-span {
        display: block;
        color: #fff;
    } 

    .signin-img  {
        display: inline-block;
        vertical-align: middle;
        width: 11px;
        height: 12px;
        padding-right: 6px;
     }


    .login-btn {
        padding-top: 5%;
        padding-right: calc(100% - 90%);
        padding-bottom: 5%;
        padding-left: 4.6%; 
        flex: 2 1 auto;
        background: linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
    }

    .login-link {
        display: flex;
        position: relative;
    }

    .login-img  {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 12px;
    padding-right: 10px;
    }



.menu-list {
    position: relative;
    font-size: 1.125em;
   line-height: 1.4em;
   font-weight: 500;
   margin: 2.75em auto 1.6em auto;
   padding: 0;
   text-align: center;
}

.menu-list-link {
    color: #fff;
}

   .menu-list-item {
       margin-bottom: 2.2em;
   }

   .activ::before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 90%;
    background: linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
    left: 3px;
    top: 28px;
  }

  .order-headtext {
    position: relative;
  }


   .main-header-headtext {
    font-size: 1.59em;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    margin-left: 8%;
    margin-right: 4%;
    margin-top: 2.8em;
    margin-bottom: 2.1em;
    max-width: 85%;
   }


  .headtext-img {
      position: absolute;
      left: 12px;
      top: -4px;
  }

   .underlined-text {
       text-decoration: underline;
       text-decoration-color: #FC5A38;
   }

   .main-header-usetext {
       display: none;
   }

   .button-order-form {
    color: #fff;
    position: relative;
    display: block;
    font-size: 0.875em;
    line-height: 1.05em;
    font-weight: 400px;
    letter-spacing: 0.1em;
    padding: 5% 0 5% 12%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 23%;
    border-radius: 3px;
   }

   .button-order-form::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    background: #FF7344;
    transform: rotate(180deg);
    right: 18%;
    top: 0px;
  }

  .order-button-img {
      position: absolute;
      right: 9%;
      top:218px;
  }
 

.scroll-bar {
    display: none;
}



    @media (min-width: $large-screen) {

        .login-box {
            display: flex;
            justify-content: space-between;
        }

        .burger-menu-button {
            display: none;
          }

          .signin-link:before {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            width: 60px;
            opacity: 0.2;
            transform: rotate(90deg);
            background: #2B3239;
            right: 87px;
            top: 14px;
          }

          
.login-link:before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 60px;
    opacity: 0.2;
    transform: rotate(90deg);
    background: #CB2134;
    right: 114px;
    top: 0px;
  }
    }

  }


