.main-header-mountain {

   .main-header-container-mountain {
    margin-bottom: 18%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin-bottom: 4%;
    } 
}

    .menu-container-mountain {
        position: relative;
        background-color: #0E1823;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
        @media screen and (min-width: 950px) and (max-width: 2500px) {
           display: none;  
        }
    }

    .menu-container-desc-mountain {
        display: none;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            display: block;
            background-color: #fff;
            border-bottom: 1px solid #b1b1b2;
    }
    }

    .border-menu-box-mountain {
        display: flex;
        flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 3% 10%; 
            padding: 0 12.75%;
        position: relative;
        background-color: #fff;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    }

    .burger-menu-toggle-box-mountain {
        display: flex;
        justify-content: space-between;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .burger-menu-toggle-box-open-mountain {
        display: flex;
        justify-content: space-between;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .burger-menu-button-mountain {
        display: block;
        cursor: pointer;
    }

    .burger-menu-button-close-mountain {
        display: block;
        cursor: pointer;
    }

  .closed-popup-menu-mountain {
     display: none;
    }

    .opened-popup-menu-mountain {
        display: block;
        position: absolute;
        width:100%;
        min-height:100%;
        background-color: rgba(0,0,0,0.5);
        overflow:hidden;
        position:fixed;
        top:0px;
        z-index: 4;
        animation-name: animateNavMount;
        animation-duration: 0.8s;
       } 

    .popup-content-mountain {
        display: flex; 
        z-index: 6;
        width: 100%;
        top: 0;
        background-color: #0E1823;
        flex-direction: column;
        padding-bottom: 4em;
    }

    @keyframes animateNavMount {
        from {top:-535px}
        to {top:0}
      }


    .lang-toggle-mountain {
            position: relative;
            font-size: 0.875em;
    line-height: 1.05em;
    padding-top: 1.4em;
    padding-bottom: 0.813em;
    font-weight: 600;

    
    .lang-mountain {
        color: #0E1823;
    }

    .russian-lang {
        padding-right: 15px;
    }

    .russian-lang:after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 17px;
        background: #0E1823;
        left: 20px;
        top: 23px;
        transform: rotate(90deg);
        opacity: 0.3;
      }
    
      .russian-lang:before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 26px;
        background: linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);;
        left: -4px;
        bottom: 8px;
      }
    }

    .phone-mountain {
        order: 3;
        text-align: center;
        font-size: 1.3em;
        line-height: 1.6em;
        font-weight: 500;
        text-transform: uppercase;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            order: 0;
            font-size: 0.875em;
    line-height: 1.05em;
    padding-top: 1.4em;
    padding-bottom: 0.813em;
        }
    }
    
    .phone-img-mountain {
        display: inline-block;
        vertical-align: middle;
        padding-right: 1px;
    }

    .phone-text-mountain {
        color: #FFF;
        font-weight: 600;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            color: #0E1823;
        }
    }

    .login-mountain {
        display: flex;
        font-size: 0.875em;
        line-height: 1.05em;
        font-weight: 500;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            font-weight: 600;
        }
     }

     
    .signin-btn-mountain {
        padding-top: 5%;
        padding-right: calc(100% - 94%);
        padding-bottom: 5%;
        padding-left: 4.6%; 
        flex: 2 1 auto;
        background-color: #fff;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            padding: 1.4em 2em 0.875em 1em;
            background-color: #0E1823;
        }
    }

    .signin-link-mountain {
        display: flex;
        position: relative;
    }

    .signin-span-mountain {
        display: block;
        color: #0E1823;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            color: #fff;
            background-color: #0E1823;
        }
    }

    .login-span-mountain {
        display: block;
        color: #fff;
    } 

    .signin-img-mountain  {
        display: inline-block;
        vertical-align: middle;
        width: 11px;
        height: 12px;
        padding-right: 6px;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            display: none;
        }
     }

     .signin-img-mountain-white  {
         display: none;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            display: inline-block;
            padding-right: 3.3em;
            width: 17px;
        height: 18px;
        }
     }

    .login-btn-mountain {
        padding-top: 5%;
        padding-right: calc(100% - 90%);
        padding-bottom: 5%;
        padding-left: 4.6%; 
        flex: 2 1 auto;
        background: linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            padding: 1.4em 2.3em 0.875em 1em;
        }
    }

    .login-link-mountain {
        display: flex;
        position: relative;
    }

    .login-btn-mountain:hover {
        background: linear-gradient(270deg, #E91D1D 0%, #FF6F30 100%);
    }

    .login-img-mountain  {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 12px;
    padding-right: 10px;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        padding-right: 3.8em;
        width: 20px;
    height: 18px;
    }
    }


.menu-list-mountain {
    position: relative;
    font-size: 1.125em;
   line-height: 1.4em;
   font-weight: 500;
   margin: 2.75em auto 1.6em auto;
   padding: 0;
   text-align: center;
   @media screen and (min-width: 950px) and (max-width: 2500px) {
    display: flex;
    justify-content: flex-end;
    font-size: 0.85em;
    line-height: 1.500em;
    /* opacity: 0.7; */
    margin: 2.27em 0 0 0;
 }
}

.desc-menu-box {
    background-color: #fff;
    padding: 0 12.75% 0 12.75%;
}

.logo-main-box-mountain {
    position: absolute;
    left: 0;
    top: -1em;
    }

   .menu-list-link-mountain {
    color:  #fff;
    opacity: 0.7;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin-left: 57px;
        color: #0E1823;
 }
}

.menu-list-link-mountain:hover {
    color: #fff;
    opacity: 1;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        color: #0E1823;
        opacity: 1;
 }
}

.menu-list-link-mountain:hover::after {
    position: absolute;
    top: 0;
    left: 80%;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 3.5em;
    content: "\25BC";
    font-size: 1.2em;
    text-align: center;
    color: #fc6534;

    @media screen and (min-width: 950px) and (max-width: 2500px) {
        font-size: 0.9em;
        left: 90%;
 }
}

   .menu-list-item-mountain {
       margin-bottom: 2.2em;
       position: relative;
       @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin-bottom: 1em;
 }
   }

   .activ::before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 90%;
    background: linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
    left: 3px;
    top: 28px;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: none;
 }
   }

.flex-breadcrumbs {
    position: absolute;
    top: 12%;
    width: 100%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: block;
        position: relative;
        padding: 0 12.75%;
 }

 .breadcrumbs-link {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin-right: 2%;
 }
 }

   .breadcrumbs {
display: flex;
align-items: center;
margin: 0 4% 0 4%;
padding: 0;
flex-direction: row;
justify-content: space-between;
font-size: 0.88em;
line-height: 1.1em;
@media screen and (min-width: 950px) and (max-width: 2500px) {
    margin: 4% 0 0 0;
    justify-content: flex-start;
}
}

.brcrum-link {
    color: #0E1823;
    
}

.home-img {
    display: inline-block;
    vertical-align: middle;
}

   .breadcrumbs-link::after {
    content: "\25B8";
    display: inline-block;
    border: 0;
    color: #617081;
    /* border-radius: 5px; */
    width: 10px;
    height: 10px;
    /* background-image: -webkit-gradient(linear,right top,left top,from(#ff6e2f),to(#f84343));
    background-image: linear-gradient(270deg,#ff6e2f 0%,#f84343 100%); */
    margin-left: 10px;
 }

 .brcrum-img-mountain {
 position: absolute;
 right: 4%;
    bottom: 145%;
    cursor: pointer;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: none;
    }
 }
}
}

 @media screen and (min-width: 950px) and (max-width: 2500px) {

       .signin-link-mountain:before {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 55px;
        opacity: 0.2;
        transform: rotate(90deg);
        background: #fff;
        right: 82px;
        top: 0;
      }

     .login-link-mountain:before {
        content: "";
        display: block;
        position: absolute;
height: 2px;
width: 55px;
opacity: 0.2;
transform: rotate(90deg);
background: #CB2134;
right: 110px;
top: 0px;
}

.reactor-mobile-img {
    display: none;
}


.menu-list-link-mountain:active {
    border-bottom: 2px solid #fc5a38;
  }

  .active-span-mountain {
    border-bottom: 2px solid #fc5a38;
  }

}

