.mountain-constuctor {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
       display: flex;
       flex-direction: row;
       align-items: flex-start;
       margin-top: 15%;
    }
   }



   .mount__header-constr {
  /*   order: 1; */
    margin: 15% 0 3% 0;
    position: relative;
    @media screen and (max-width: 2500px) and (min-width: 950px) {
       margin: 0 0 5% 0;
   }
 
 }

   .mount__title-constr {
    color: #0E1823;
    font-size: 1.7em;
    line-height: 2em;
    letter-spacing: 0.05em;
    margin-left: 4%;
    position: relative;
    @media screen and (max-width: 2500px) and (min-width: 950px) {
  font-size: 3.1em;
  line-height: 1.8em;
  letter-spacing: .1em;
 /*  margin: 8% 0 10% 2%; */
 margin: 0 0 0 4%;
}
 }

 .mountheader-img-constr {
    position: absolute;
    left: 0%;
    top: 32%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
      display: none;
   }
 }

 .mountheader-img-desc-constr {
    display: none;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
       display: block;
       position: absolute;
    left: 0;
    bottom: 3%;
    }
 }

 .mount-usetext-constr {
    /* order: 2; */
    margin: 0 0 4% 0;
     font-size: 0.75em;
 line-height: 2em;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin-bottom: 3.7%;
        font-size: 1.500em;
    line-height: 1.6em;
 }
}

.sort-type {
 border: 0;
 padding: 0;
}

.sort-select {
position: relative;
float: right;
border:  1px solid #DDE4EB;
padding: 9px 16px 9px 15px;
border-radius: 3px;
width: 140px;
background-color: rgba(255,255,255,.2);
font-size: 1em;
line-height: 18px;
font-weight: 500;
color: #0E1823;
@media screen and (min-width: 950px) and (max-width: 2500px) {
    float: none;
    width:255px;
}
}

.sort-box::after {
    content: "?";
    display: inline-block;
    border: 0;
    color: #97A4B2; 
    background-color: #e9e9e9;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    text-align: center;
}

.sort-box {
    float: left;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        float: none;
 }
}

.sort-text {
    display: inline-block;
    margin-top: 8%;
    font-size: 0.75em;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin: 0;
 }
}

.flex-type {
margin-bottom: 25px;
}

.big-text {
    max-width: 132px;
    margin-top: 0;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        max-width: 255px;
 }
}

.additional-info {
    display: block;
    font-size: 0.75em;
    margin-bottom: 10px;
}

.info-order-text {
    height: 79px;
    width: 92%;
    margin-bottom: 8%;
 border-radius: 3px 3px 5px 5px;
 background: #F8F8F8;
 border: 1px solid #DDE4EB;
    padding: 4% 4% 4% 4%;
    border-image: none;
    resize: vertical;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        height: 126px;
    width: 705px;
    margin-bottom: 3%;
     }
 }
 
 .info-order-text::placeholder {
    font-family: "Montserrat", "Fira Sans", sans-serif;
    font-size: 1em;
 line-height: 1.8em;
 color: #0E1823;
 font-weight: 500;
 }

 .select-type {
    margin-bottom: 10%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
    }
 }

 .button-order-constr {
    font-family: "Montserrat", "Fira Sans", sans-serif;
    color: #fff;
    position: relative;
    display: block;
    font-size: .875em;
    line-height: 1.05em;
    font-weight: 400px;
    letter-spacing: .1em;
    width:100%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* padding: 5% 63.7% 5% 12%; */
    margin-bottom: 10%;
    border: 0;
    border-radius: 3px;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        width: 334px;
        height: 50px;
        font-size: 1.125em;
    line-height: 1.05em;
    padding: 1.5% 0 1.5% 0;
    margin: 0 5% 0 0;
     }
    }

    .button-order-constr::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        background: #FF7344;
        transform: rotate(180deg);
        right: 18%;
        top: 0px;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            right: 16%;
         }
      }
    
      .order-button--constr-img {
          position: absolute;
          right: 7%;
          top: 40%;
          @media screen and (min-width: 950px) and (max-width: 2500px) {
            right: 4%;
         }
      }

 .button-order-constr:hover {
    background: linear-gradient(270deg, #E91D1D 0%, #FF6F30 100%);
   }

   .order-reset-text {
    border-bottom: 2px solid #fc5a38;
    margin-left: 5%;
    }

    .reset-order {
        display: flex;
        justify-content: center;
        font-size: .875em;
        line-height: 1.05em;
    color: #0E1823;
    margin-bottom: 10%;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            width:300px;
            font-size: 1.125em;
    line-height: 1.05em;
    padding-top: 1.5%;
        }
    }

    .constr-buttons-box {
        margin-bottom: 5%;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            display: flex;
        }
    }

    option {
        font-family: "Montserrat", "Fira Sans", sans-serif;
    font-size: 1em;
 line-height: 1.8em;
 color: #000;
 padding-bottom: 5%;
    }