.mountain-describtion {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
       display: flex;
       flex-direction: row;
       align-items: flex-start;
       margin-top: 15%;
    }
   }

   .char-box-mount {
    display: flex;
    flex-direction: column; 
   }

   .mount__header {
    order: 1;
    margin: 15% 0 3% 0;
    position: relative;
    @media screen and (max-width: 2500px) and (min-width: 950px) {
       margin: 0 0 5% 0;
   }
 
 }

   .mount__title {
    color: #0E1823;
    font-size: 1.7em;
    line-height: 2em;
    letter-spacing: 0.05em;
    margin-left: 4%;
    position: relative;
    @media screen and (max-width: 2500px) and (min-width: 950px) {
  font-size: 3.1em;
  line-height: 1.8em;
  letter-spacing: .1em;
 /*  margin: 8% 0 10% 2%; */
 margin: 0 0 0 2%;
}
 }

 .mountheader-img {
    position: absolute;
    left: 0%;
    top: 32%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
      display: none;
   }
 }

 .mountheader-img-desc {
    display: none;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
       display: block;
       position: absolute;
    left: 0;
    bottom: 3%;
    }
 }

 .mount-usetext {
    order: 2;
    margin: 0 0 4% 0;
     font-size: 0.75em;
 line-height: 2em;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin-bottom: 3.7%;
        font-size: 1.500em;
    line-height: 1.6em;
 }
}

.mount-usetext-second {
    order: 3;
    margin: 0 0 11% 0;
     font-size: 0.75em;
 line-height: 2em;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin-bottom: 3.7%;
        font-size: 1.500em;
    line-height: 1.6em;
 }
}

.char-list-header {
    order:6; 
    font-size: 1.4em;
    line-height: 1.7em;
    font-weight: 600;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin-bottom: 3.7%;
        font-size: 1.6em;
    line-height: 1.6em;
 }
}



.button-order-form-mount {
    color: #fff;
    position: relative;
    display: block;
    font-size: 0.875em;
    line-height: 1.05em;
    font-weight: 400px;
    letter-spacing: 0.1em;
    padding: 5% 0 5% 18%;
   /*  margin-bottom: 23%; */
    border-radius: 3px;
    margin-bottom: 4%;

    @media screen and (min-width: 950px) and (max-width: 2500px) {
        width: 250px;
       /*  height: 50px; */
    padding: 1.5% 10% 1.5% 3%;
    /* box-sizing: border-box; */
    display: inline-block;
    vertical-align: middle;
margin: 0 5% 0 0;
    font-size: 1.125em;
    line-height: 1.125em;
    letter-spacing: 0.1em;
    z-index: 1;
}
   }

   .button-order-form-mount:hover {
    background: linear-gradient(270deg, #E91D1D 0%, #FF6F30 100%);
   }

   .button-order-form-mount::before {
    content: "";
display: block;
position: absolute;
height: 100%;
width: 1px;
background: #ff7344;
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
right: 15%;
top: 0;
@media screen and (min-width: 950px) and (max-width: 2500px) {
    right: 22%;
}
  }

  .order-button-img-mount {
    position: absolute;
    right: 3%;
    top: 27%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        right: 7%;
    }
}

.spec__link:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; 
    padding-top: inherit;
    padding-bottom: inherit; 
    /* padding-top: 4.5%; */
    /* padding-bottom: 1.6%; */
    width: 3.5em;
    content: "\2192";
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    background-color: #fc6534;
   /*  padding-top: 3.6%; */
     @media screen and (min-width: 950px) and (max-width: 2500px) {
        padding-bottom: 1.6%;
        padding-top: 3.6%;
    } 
}

.spec__link {
    color: #0E1823;
    position: relative;
    display: block;
    font-size: 0.875em;
    line-height: 0.875em;
    letter-spacing: 0.1em;
    padding: 3.2% 23% 3.2% 12%;
    margin-bottom: 30%;
    border-radius: 3px;
    /* border-color: linear-gradient(90deg, #FC6534 0%, #FC7136 100%); */
    border: 1px solid;
    border-color:  #FF7344;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        width: 360px;
        /* height: 50px; */
      /* margin-bottom: 5%; */
      padding: 1.5% 13% 1.5% 3%;
    /* box-sizing: border-box; */
    line-height: .875em;
    margin:0;
    }
   }

   .mount-buttons-box {
       order: 4;
       @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: flex;
        order: 7;
      }
   }

   .mount-list-mobile {
       order:5;
       margin-bottom: 10%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: none;
      } 
   }

   .mount-list {
       display: none;
       @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: block;
        align-self: center;
        flex-shrink: 0;
      } 

      .reactor-mount-img {
        margin-bottom: 11%;
            }

   }

   .reactor-mount-mobile-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
}

.reactor-mount-mobile-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
}

   .mount-img__pagination {

    .current-mount {
        margin-top: 3.7%;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
          margin-top: 2.9%;
      }
    }
  
    .page-mount{
        margin-top: 3%;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
          margin-top: 1.9%;
      }
    }
  


    .pagination-list-mount {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
  
    .pagination-item-mount {
      margin-right: 7%;
      font-size: 1px;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
          margin-right: 4%;
      }
  }
  }



  .char-list {
    order: 7;
    margin: 8% 8% 9% 4%;
    /* padding: 0 0 0 4%; */
    padding: 0;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin: 0 0 5% 0;
    padding: 0;
     }
}


.char-list-item {
font-size: 0.88em;
line-height: 1.4em;
margin-bottom: 4%;
@media screen and (min-width: 950px) and (max-width: 2500px) {
    font-size: 16px;
line-height: 31px;
margin-bottom: 1.5%;
}
}

.char-list-item::before{
    content: "";
display: inline-block;
border: none;
border-radius: 5px;
width: 8px;
height: 8px;
background-image: -moz-linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
background-image: -webkit-linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
background-image: -o-linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
background-image: -ms-linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
background-image: linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
margin-right: 8px;
}


 