.mountain-describtion {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
       display: flex;
       align-items: flex-start;
       margin-top: 15%;
    }
   }

   .char-box-mount {
    display: flex;
    flex-direction: column; 
   }

   .mount__header {
    margin: 15% 0 3% 0;
    position: relative;
    @media screen and (max-width: 1920px) and (min-width: 1024px) {
       margin: 0 0 5% 0;
   }
 
 }

   .mount__title {
    color: #0E1823;
    font-size: 1.7em;
    line-height: 2em;
    letter-spacing: 0.05em;
    margin-left: 4%;
    position: relative;
    @media screen and (max-width: 1920px) and (min-width: 1024px) {
  font-size: 3.1em;
  line-height: 1.8em;
  letter-spacing: .1em;
  margin: 8% 0 10% 2%;
}
 }

 .mountheader-img {
    position: absolute;
    left: 0%;
    top: 16%;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      display: none;
   }
 }

 .mount-usetext {
    margin: 0 0 4% 0;
     font-size: 0.75em;
 line-height: 2em;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
        margin-bottom: 3.7%;
        font-size: 1.500em;
    line-height: 1.6em;
 }
}

.mount-usetext-second {
    margin: 0 0 11% 0;
     font-size: 0.75em;
 line-height: 2em;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
        margin-bottom: 3.7%;
        font-size: 1.500em;
    line-height: 1.6em;
 }
}

.char-list-header {
    order:3;
    font-size: 1.4em;
    line-height: 1.7em;
    font-weight: 600;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
        margin-bottom: 3.7%;
        font-size: 1.6em;
    line-height: 1.6em;
 }
}

.char-list {
    order:3;
}

.button-order-form-mount {
    color: #fff;
    position: relative;
    display: block;
    font-size: 0.875em;
    line-height: 1.05em;
    font-weight: 400px;
    letter-spacing: 0.1em;
    padding: 5% 0 5% 18%;
   /*  margin-bottom: 23%; */
    border-radius: 3px;
    margin-bottom: 4%;

    @media screen and (min-width: 1024px) and (max-width: 1920px) {
    padding: 20px 25px 20px 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.125em;
    line-height: 1.375em;
    letter-spacing: 0.1em;
    z-index: 1;
}
   }

   .button-order-form-mount:hover {
    background: linear-gradient(270deg, #E91D1D 0%, #FF6F30 100%);
   }

   .button-order-form-mount::before {
    content: "";
display: block;
position: absolute;
height: 100%;
width: 1px;
background: #ff7344;
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
right: 15%;
top: 0;
  }

  .order-button-img-mount {
    position: absolute;
    right: 3%;
    top: 40%;
}

.spec__link:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; 
    padding-top: inherit;
    padding-bottom: inherit;
    width: 3em;
    content: "\2192";
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    background-color: #fc6534;
/*     @media screen and (min-width: 1024px) and (max-width: 1920px) {
      color: #fc6534;
      background-color: #fff;
      left: 50%;
    } */
}

.spec__link {
    color: #0E1823;
    position: relative;
    display: block;
    font-size: 0.875em;
    line-height: 0.875em;
    letter-spacing: 0.1em;
    padding: 4% 23% 4% 12%;
    margin-bottom: 23%;
    border-radius: 3px;
    /* border-color: linear-gradient(90deg, #FC6534 0%, #FC7136 100%); */
    border: 1px solid;
    border-color:  #FF7344;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      min-width: 228px;
      margin-bottom: 5%;
    }
   }


 