.options {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 4%;
    @media screen and (max-width: 1920px) and (min-width: 1024px) {
      margin: 0;
  }

  .options__header {
     position: relative;
  }

   .options-head {
      color: #0E1823;
      font-size: 1.7em;
      line-height: 2em;
      letter-spacing: 0.05em;
      margin: 0 0 10% 4%;
      position: relative;
      @media screen and (max-width: 1920px) and (min-width: 1024px) {
         font-size: 3.1em;
         line-height: 3.8em;
         letter-spacing: .1em;
         margin: 8% 0 5% 2%;
     }
   }

/*    .other-product__header {
   margin: 15% 0 10% 0;
} */


   .options-img-mount {
      position: absolute;
      left: 0%;
      top: 10%;
      @media screen and (min-width: 1024px) and (max-width: 1920px) {
        display: none;
     }
   }

   .options-img-mount-desc {
      display: none;
      @media screen and (min-width: 1024px) and (max-width: 1920px) {
         display: block;
         position: absolute;
      left: 0;
      bottom: 34%;
      }

   }

.options-item-list {
    padding: 0;
    margin: 0 0 20% 0;
    @media screen and (min-width: 1024px) and (max-width: 1920px) { 
    display: flex;
    flex-wrap: wrap;
    margin: 0 20% 0 0;
    }
}

.options-list-item {
    display: flex;
    font-size: 1em;
line-height: 1.5em;
margin-bottom: 10%;
@media screen and (min-width: 1024px) and (max-width: 1920px) { 
    flex-direction: column;
    margin: 0 10% 5% 0;
    /* flex: 1 0 30%; */
    }
}

   .mob-hide {
    display: none;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
       display: block;
    }

   }

   .option-text {
    max-width: 217px;
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
        text-align: center;
     }
   }

   .options-img {
    margin-right: 4%;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    }
   }

   .hide-mob {
       display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 4%;
   }

   .sistem-img {
       height: 54px;
       margin-top: auto;
       margin-bottom: auto;
   }
}