.order_about-box {
    background-color: #29415a;
    background-image:  url("../img/order-about-bg.png"), url("../img/order-about-bg-pic1.png"); 
    /* background-position: top -28% right 10px, bottom -12% left; */
    background-position: center center, top -28% right 10px;
    background-repeat: no-repeat, no-repeat;
    color: #fff;
    padding: 28% 0 28% 0;
    position: relative;
overflow: hidden;

@media screen and (min-width: 950px) and (max-width: 2500px) {
    padding: 0;
    /* padding: 9% 20.75%; */
    background-image:  url("../img/order-about-bg-desc.png"), url("../img/order-about-bg-pic1.png"), url("../img/order-about-bg-pic2.png"); 
    background-position: center center, bottom 8% left, top -28% right 10px;
    background-repeat: no-repeat, no-repeat;
 }


    
    .order_about {
        margin: 0 4%;
        position: relative;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            margin: 9% 20.75%;
         }

    }

    .order-head {
        font-size: 1.4em;
        line-height: 1.6em;
        letter-spacing: 0.05em;
        margin: 0 8% 10% 4%;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            font-size: 40px;
line-height: 49px;
letter-spacing: 0.1em;
margin: 0 8% 3% 0;
         }
       
     }

     .order-about-decor-img {
        position: absolute;
        left: 0px;
        top: 0px;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            display: none;
         }
     }

/*      .order-about-img-desc {
        display: none;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
           display: block;
           position: absolute;
        left: 0;
        top: 2.5%;
        }
     }
      */
     .order-item {
        font-size: 0.75em;
        line-height: 1.3em; 
        margin-bottom: 9%;
        margin-right: 9%;

        @media screen and (min-width: 950px) and (max-width: 2500px) {
            font-size: 20px;
line-height: 30px;
/* margin: 0;
margin-bottom: 9%;
 */
 margin-bottom: 5%;
         }
        .order-bold {
            font-weight: bold;
        }
     }

     .individual, .custom {
        display: none;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
           display: block;
           margin: 0 0 2% 0;
        }
    }

    
   .underlined-text {
    text-decoration: underline;
    text-decoration-color: #FC5A38;
}

    .button-order-form {
        color: #fff;
        position: relative;
        display: block;
        font-size: 0.875em;
        line-height: 1.05em;
        font-weight: 400px;
        letter-spacing: 0.1em;
        padding: 5% 0 5% 12%;
       /*  margin-bottom: 23%; */
        border-radius: 3px;
    
        @media screen and (min-width: 950px) and (max-width: 2500px) {
        padding: 20px 25px 20px 50px;
        display: inline-block;
        vertical-align: middle;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.125em;
        line-height: 1.375em;
        letter-spacing: 0.1em;
        z-index: 1;
    }
       }

       .button-order-form:hover {
        background: linear-gradient(270deg, #E91D1D 0%, #FF6F30 100%);
       }


     .order-button-about-text {
        color: #fff;
        position: relative;
        /* display: block; */
        font-size: 0.875em;
        line-height: 1.05em;
        font-weight: 400px;
        letter-spacing: 0.1em;
        border-radius: 3px;
        padding-right: calc(100% - 166px); 
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            font-size: 1.125em;
    line-height: 1.375em;
        letter-spacing: 0.1em;
            padding-right: 72px; 
        }
     }

     .button-order-form::before {
        content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    background: #ff7344;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 18%;
    top: 0;
      }

      .desc-center {
        @media screen and (min-width: 950px) and (max-width: 2500px) {
           text-align: center; 
        }
      }


}

.button-pattern-order {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
    position: absolute;
    height: 100px;
    width: 97px;
    background: 
    radial-gradient(#ff7344 .1px, transparent 3px);
    background-size: 10px 10px;
    opacity: 0.3;
    top: 0%;
    left: 80%;
    z-index: 0;
}
  }

  .reactor-mobile-img {
    display: block;
    margin: -40% auto -20% auto;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: none;
     }
 }

/* .order_about-box:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: 0;
    background: url("../img/order-about-bg.png");
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        background: url("../img/order-about-bg-desc.png");
background-size: cover;
     }
    } */