.order_about-box {
    background-color: #29415a;
    background-image: url("../img/order-about-bg-pic1.png"), url("../img/order-about-bg-pic2.png"); 
    background-position: top -28% right 10px, bottom -12% left;
    background-repeat: no-repeat, no-repeat;
    color: #fff;
    padding: 28% 0 28% 0;
    position: relative;
overflow: hidden;


    
    .order_about {
        margin: 0 4%;
        position: relative;
    }

    .order-head {
        font-size: 1.4em;
        line-height: 1.6em;
        letter-spacing: 0.05em;
        margin: 0 8% 10% 4%;
       
     }

     .order-about-decor-img {
        position: absolute;
        left: 0px;
        top: 0px;
     }


     .individual, .custom {
         display: none;
     }

     .custom-desision {
        font-size: 0.75em;
        line-height: 1.3em; 
        margin-bottom: 9%;
        margin-right: 9%;

        .order-bold {
            font-weight: bold;
        }
     }

     .main-nav__link-text {
        color: #fff;
        position: relative;
        display: block;
        font-size: 0.875em;
        line-height: 1.05em;
        font-weight: 400px;
        letter-spacing: 0.1em;
        padding: 5% 0 5% 12%;
        border-radius: 3px;
     }

     .main-nav__link-text::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        background: #FF7344;
        transform: rotate(180deg);
        right: 18%;
        top: 0px;
      }

      .main-nav__link-text-img {
        position: absolute;
        right: 6%;
        top: 90.5%;
      }
}

.order_about-box:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: 0;
    background: url("../img/order-about-bg.png");
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    }