.other-product {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 4%;
    @media screen and (max-width: 1920px) and (min-width: 1024px) {
      margin: 0 12.75%;
  }

  .other-product__header {
     position: relative;
  }

   .other-product__title {
      color: #0E1823;
      font-size: 1.7em;
      line-height: 2em;
      letter-spacing: 0.05em;
      margin: 0 0 10% 4%;
      position: relative;
      @media screen and (max-width: 1920px) and (min-width: 1024px) {
         font-size: 3.1em;
         line-height: 3.8em;
         letter-spacing: .1em;
         margin: 8% 0 5% 2%;
     }
   }

/*    .other-product__header {
   margin: 15% 0 10% 0;
} */


   .productheader-other-img-catalog {
      position: absolute;
      left: 0%;
      top: 10%;
      @media screen and (min-width: 1024px) and (max-width: 1920px) {
        display: none;
     }
   }

   .productheader-other-img-desc-catalog {
      display: none;
      @media screen and (min-width: 1024px) and (max-width: 1920px) {
         display: block;
         position: absolute;
      left: 0;
      bottom: 31%;
      }

   }

   .other-product-line-list {
      padding: 0;
      margin: 0 0 10% 0;
      @media screen and (min-width: 1024px) and (max-width: 1920px) {
         display: flex;
         justify-content: space-between;
      }
   }

   .other-item-box {
      padding: 3%;
   }

/*    .type-item-link-head{
      margin: auto 0 auto 3%;
   } */

   .other-item-link-head {
       margin: 0;
   }

   .other-item-link {
      color: #0E1823;
      font-size: 1em;
      line-height: 0.938em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
   }

   .other-item {
       text-align: center;
       margin-bottom: 8%;
       border: 1px solid #EDEDED;
border-radius: 3px;
@media screen and (min-width: 1024px) and (max-width: 1920px) {
   flex-basis: 400px;
   margin-bottom: 4%;
}
   }





}