.popular-product {
    display: flex;
    flex-direction: column;

    .popular-product__container {
      margin: 0 4%;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         margin: 0 12.75% 10.7% 12.75%;
     }
    }

    @media screen and (min-width: 950px) and (max-width: 2500px) {
      background-image: url("../img/molecule-red-1.png"), url("../img/molecule-red-2.png");
  background-repeat: no-repeat;
  background-position:  top 2.5% right 1%, bottom 4.7% left 5.5%;
  }

   .popular-product__title {
      color: #0E1823;
      font-size: 1.7em;
      line-height: 2em;
      letter-spacing: 0.05em;
      margin-left: 4%;
      position: relative;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         font-size: 3.1em;
         line-height: 3.8em;
         letter-spacing: 0.1em;
         margin: 8% 0 0 8%;
     }
   }

   .popular-product__header {
      position: relative;
   }

   .productheader-img {
      position: absolute;
      left: 0%;
      top: 12%;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: none;
     }
   }

   .productheader-img-desc {
      display: none;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         display: block;
         position: absolute;
      left: 6%;
      top: 26.5%;
      }
   }

   .products-line-list {
      padding: 0;
      position: relative;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         display: grid;
        /*   grid-template-columns: 702px 702px;
         grid-template-rows: 456px 456px;*/
         grid-template-columns: minmax(36.5%, 702px) minmax(36.5%, 702px);
         grid-template-rows: 456px 456px;
         row-gap: 3.8%;
         column-gap: 2.5%;
        margin: 0;
     }
   }

   .item-link-head{
      margin: auto 0 auto 3%;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         margin: 0;
         align-self: stretch;
      }
   }

   .item-link {
      color: #0E1823;
      font-size: 1em;
      line-height: 1.3em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         font-size: 1.2em;
         line-height: 1.3em;
         letter-spacing: 0.05em;
         z-index: 1;
     }
   }

   .product-link {
      order: 0;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         order:2;  
         align-self: flex-end; 
     }
   }

   .sapf-head {
 max-width: 50%;
 @media screen and (min-width: 950px) and (max-width: 2500px) {
   max-width: 100%;
}
   }

   .react-link {
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         margin-top: 5%;
         margin-left: 37%;
   }
   }

   .shrink {
    flex-shrink: 1.8;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
      align-self: flex-end;
      margin-left: 29%;
    margin-top: 10%;
   }
   }

   .shrink-2 {
    flex-shrink: 2.7;
    position: relative;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
   }
   }

   .nasos-box {
      @media screen and (min-width: 950px) and (max-width: 2500px) {
      flex-shrink: 0;
    width: 100%;
   }
   }

   .porsh-box {
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         flex-shrink: 0;
       width: 100%;
      }
   }

   .product-item {
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         position: relative;
         border: 1px solid #F2F2F2;
         border-radius: 3px;
         display: flex;
       }
   }

   .hover-text-box {
position: absolute;
color: #0E1823;
width: 90%;
font-size: 0.9em;
line-height: 1.5em;
top: 27%;
opacity: 0;

.item-list-title {
   margin: 0 1% 0 0;
   font-weight: 600;
}

.char-box {
   display: flex;
}

.item-list {
   padding: 0;
}

.char-item::before {
   content: "";
   display: inline-block;
   border: 0;
   border-radius: 5px;
   width: 8px;
   height: 8px;
   background-image: -webkit-gradient(linear,right top,left top,from(#ff6e2f),to(#f84343));
   background-image: linear-gradient(270deg,#ff6e2f 0%,#f84343 100%);
   margin-right: 8px;
}
}

   .product-item:hover .hover-text-box {
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         opacity: 1;
       }
   }

   .product-item:hover .product-link {
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         opacity: 0.2;
       }
   }

.item-react {
   @media screen and (min-width: 950px) and (max-width: 2500px) {
   padding: 37px 40px 15px 40px;
   }
   }

   .item-sapf {
      @media screen and (min-width: 950px) and (max-width: 2500px) {
      padding: 37px 40px 15px 40px;
      }
      }

      .sapf-foto {
         display: none;
         @media screen and (min-width: 950px) and (max-width: 2500px) {
            /* position: absolute; */
            display: block;
            /* max-width: 406px; */
            margin-left: 19%;
            margin-top: 5%;
            }
      }

        .item-nasos {
         @media screen and (min-width: 950px) and (max-width: 2500px) {
         padding: 37px 40px 15px 36px;
         }
         }
         
         .item-porsh {
            @media screen and (min-width: 950px) and (max-width: 2500px) {
            padding: 37px 40px 15px 36px;
            }
            }

   .product-item-hover {
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         position: absolute;
         bottom: 5%;
         width: 209px;
         left: 8%;
         }
   }

   .product-item-box {
       display: flex; 
      @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: flex; 
       flex-direction: column;
     }
   }

.main-nav__link {
    position: relative;
    display: block;
    color: #0E1823;
    font-size: 0.875em;
    line-height: 1.05em;
    letter-spacing: 0.1em;
    padding: 5% 0 5% 12%; 
    margin-bottom: 23%;
    border-radius: 3px;
    /* border-color: linear-gradient(90deg, #FC6534 0%, #FC7136 100%); */
    border: 1px solid;
    border-color:  #FF7344;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
    line-height: 2.5em;
    padding: 0 0 0 8%;
    font-size: 1.125em;
    letter-spacing: 0.1em;
    font-weight: 600;
   }
   }

   .main-nav__link:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding-top: inherit;
		padding-bottom: inherit;
		width: 3.5em;
		content: "\2192";
		color: #fff;
		font-size: 1.2em;
		text-align: center;
      background-color: #fc6534;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
         width: 2.5em;
      }
   }
   
   @media screen and (min-width: 950px) and (max-width: 2500px) {
      .sapf-foto-mob {
         display: none;
      }
   }
   
      .pattern-product {
         position: absolute;
         background: radial-gradient(#ff7344 .1px,transparent 3px);
         background-size: 11px 10px;
         opacity: .3;
         z-index: -1;
      }

      .button-pattern-s1 {
     height: 97px;
    width: 84px;
    top: 11.3%;
    left: 65.9%;

    @media screen and (min-width: 950px) and (max-width: 2500px) {
      height: 128px;
      width: 144px;
      top: 9.3%;
      left: 3.9%;
    }
      }

      .button-pattern-s2 {
         width: 43.98px;
         height: 92px;
         top: calc(100% - 65%);
         left: 31.9%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
      height: 128px;
      width: 144px;
      top: 50%;
      left: 50.9%;
   }
      }

      .button-pattern-s3 {
         width: 62px;
         height: 107px;
         top: 59.1%;
         left: 84.1%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
      height: 80px;
      width: 209px;
      top: 8.3%;
      left: 0;
   }
      }
    
      .button-pattern-s4 {
         width: 120px;
         height: 100px;
         top: 0;
         
    @media screen and (min-width: 950px) and (max-width: 2500px) {
      height: 80px;
      width: 209px;
      top: 0;
      right: 0;
   }
   }

}
