.reviews {
padding: 0 4% 0 4%;
/* position: relative; */

@media screen and (min-width: 950px) and (max-width: 2500px) {
    padding: 8% 12.75% 5.5% 12.75%;
    background-image:  url("../img/rew-bg-desc.png");
        background-size: cover;
 }

.reviews__title {
    color: #0E1823;
    font-size: 1.7em;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 0 0 8% 4%;
    position: relative;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        font-size: 3.1em;
        line-height: 3em;
letter-spacing: 0.1em;
margin: 0 0 2% 4%;
     }
}

.rew-box {
    position: relative;
}

.reviews-head-img {
    position: absolute;
    left: 0;
    top: 13.5%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: none;
     }
}

.reviews-img-desc  {
    display: none;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
       display: block;
       position: absolute;
       left: 1.5%;
       top: 19%;
    }
 }

.reviews__list {
margin: 0 0 13% 0;
padding: 0;

@media screen and (min-width: 950px) and (max-width: 2500px) {
    margin: 0 0 3% 0;
 }

.reviews__item {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin: 0 0 4% 38%;
     }
}

.review {
display: flex;
    flex-direction: column-reverse;
    color: #0E1823;
    margin: 0;
padding: 0;
@media screen and (min-width: 950px) and (max-width: 2500px) {
    flex-direction: column;
    margin-left: 2%;
 }


.review__content {
    font-size: 0.75em;
    line-height: 1.3em;
    margin: 8% 0;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        order: 2;
        font-size: 1em;
            line-height: 1.6em;

    }

    .mobile-close-text-mark {
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            display: none;
        }
    }

.mobile-close-text {
    display: none;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: inline;
    }
}

}

.show-hidden-review-text {
    position: relative;
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0 0 8% 0;
    cursor: pointer;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
         display: none;
     }
}

.border-red-rev {
    border-bottom: 2px solid #fc5a38; 
 }

 .show-hidden-review-text::after {
    position: absolute;
    top: 0;
    left: 66%;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 3.5em;
    content: "\25BC";
    font-size: 1.1em;
    text-align: center;
    color:#0E1823;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: none;
 }
}

.customer-img {
    position: absolute;
    left: -5%;
    top: 1%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: none;
     }
}

.customer-img-desc {
    display: none;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
       display: block;
       position: absolute;
       left: -7.5%;
       top: 5%;
    }
}

    .review__author {
        margin-left: 4%;
        margin-right: 8%;
        font-style: normal;
        position: relative;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            margin: 0 45% 0 4%;
        }


    .review__author-name {
        font-size: 1em;
font-weight: bold;
display: block;
margin-bottom: 4%;
@media screen and (min-width: 950px) and (max-width: 2500px) {
    font-size: 1.6em;
    line-height: 2em;
    margin-bottom: 2%;
}
    }

    .review__author-personality {
        font-size: 0.88em;
        line-height: 1.1em;
        letter-spacing: 0.1em;
        color: #0E1823;
        opacity: 0.8;
        width: 261px;
       display: block;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            font-size: 1.3em;
            line-height: 1.5em;
            width: auto;
        }
    }
}

    .reviews-author-avatar-social-media {
        display: flex;
        margin-bottom: 4%;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            position: absolute;
            flex-direction: column;
            left: 14%;
         }


        .reviews-author-img {
            border-radius: 50%;
            margin-right: 8%;
            @media screen and (min-width: 950px) and (max-width: 2500px) {
                width: 290px;
                height: 290px;
                margin: 0 0 11% 0;
             }
          }
    }

    .review__author-social-media {
font-size: 0.88em;
opacity: 88%;
letter-spacing: 10%;
margin-bottom: 5%;
display: block;
@media screen and (min-width: 950px) and (max-width: 2500px) {
    font-size: 1.3em;
    line-height: 1.5em;
}
    }


}
}


.reviews__pagination {

  .current-rev {
      margin-top: 3.7%;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin-top: 0.9%;
    }
  }

  .page-rev {
      margin-top: 3%;
      @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin-top: 0.7%;
    }
  }

  .pagination-list-rev {
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: center;
  }

  .pagination-item-rev {
    margin-right: 7%;
    font-size: 1px;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin-right: 4%;
    }
}
}

.media-icons {
    display: flex;

    .social-bar__link {
        margin-right: 15%;
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            margin-right: 7%;
        }
    }
}


}