.aria-head {
margin: 26% 4% 8% 4%;
position: relative;

@media screen and (min-width: 950px) and (max-width: 2500px) {
    margin: 8% 12.75% 1.5% 16%;
 }

.aria-head-header {
    color: #0E1823;
    font-size: 1.7em;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-left: 4%;
    position: relative;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        font-size: 3.1em;
        line-height: 3.8em;
        letter-spacing: 0.1em;
        margin: 0 0 0 4%;
    }
}

.aria-head-img {
    position: absolute;
    left: 0%;
    bottom: 11%;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: none;
     }
 }

 .use-img-desc {
    display: none;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
       display: block;
       position: absolute;
    left: 1.5%;
    top: 26.5%;
    }
 }

}

.equipment-use-box {
    position: relative;
    background-color: #233d5e;
    color: #fff;
    margin: 0;
    padding: 13% 4% 13% 0;

    @media screen and (min-width: 950px) and (max-width: 2500px) {
        padding: 2.5% 7% 2.5% 0;
        margin: 0 17.2%  -4.6% 17.2%;
     }


    .pattern-use {
        position: absolute;
        height: 100%;
        width: 100%;
        background: 
        radial-gradient(#fff .1px, transparent 3px);
        background-size: 10px 10px;
        opacity: 0.07;
        top: 0%;
        z-index: 0;
      }
    
    

    .equipment-use-text{
        font-size: 1em;
        line-height: 1.5em;
        margin: 0 4%; 
        @media screen and (min-width: 950px) and (max-width: 2500px) {
            font-size: 20px;
            line-height: 30px;
            margin: 0 0 0 8%;
         }
    }
}

.sector-head {
  font-size: 1.4em;
line-height: 1.7em;
letter-spacing: 0.1em;
text-transform: uppercase;
   margin: 0;
   padding: 13% 4% 13% 4%;
   @media screen and (min-width: 950px) and (max-width: 2500px) {
    display: none;
 }
}

.sector-head-desc {
    display: none; 
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: block;
        font-size: 30px;
line-height: 37px;
letter-spacing: 0.1em;
text-transform: uppercase;
margin: 0 0 4% 0;
     }
}

.sector {
padding: 0 0 23% 0;
@media screen and (min-width: 950px) and (max-width: 2500px) {
    display: flex;
    padding: 10% 12.5% 8.3% 12.5%;
 }
}


.oil-box {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
    margin-right: 8%;
    position: relative;
}
}

.oil-img {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
align-self: flex-end;
height: 311px;
} 
}

.oil-img, .analistic-img {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        order:2;
     } 
}

.petrology-img {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
 height: 311px;
}
}



.petrology-box {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
    margin-left: 8%;
    align-self: flex-end;
}
}


.analistic-box {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
    margin-right: 8%;
    align-self: center;
}
}

.chem-box {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
    margin-left: 8%;
    align-self: center;
}
}


.sector-oil {
    background: #122537;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        background-image:  url("../img/oil-bg-desc.png");
        box-shadow: inset 0px -74px 9px -2px rgba(43, 51, 65, 0.7);
        background-size: cover;
     } 
}

.oil-box::after {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        content: '';
        position: absolute;
        box-shadow:  0 15px 10px rgba(43, 51, 65, 0.9);
bottom: -150px;;
left: -34.5%;
width: 2500px; /* Ширина тени */ /* Максимальная ширина тени */
height: 15px; /* Высота тени */
     } 
}

.sector-petrology {
    background: #484A54;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        background-image:  url("../img/petrology-bg-desc.png");
        box-shadow: 0px 75px 13px -2px  rgba(14, 24, 35, 0.8);
     } 
}

.sector-petrology::after {
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        background-image:  url("../img/petrology-bg-desc.png");
        box-shadow: 0px 75px 13px -2px  rgba(14, 24, 35, 0.8);
     } 
}

.sector-analistic {
    background:#1E0640;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        background-image:  url("../img/analistic-bg-desc.png");
     } 
}

.sector-chem {
    background: #00184A;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        background-image:  url("../img/chem-bg-desc.png");
        padding-bottom: 12%;
     }
}

.sector-list {
    margin: 13% 8% 9% 4%;
    /* padding: 0 0 0 4%; */
    padding: 0;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        margin: 0;
    padding: 0;
     }
}


.sector-list-item {
font-size: 0.88em;
line-height: 1.9em;
margin-bottom: 4%;
@media screen and (min-width: 950px) and (max-width: 2500px) {
    font-size: 16px;
line-height: 31px;
margin-bottom: 1.5%;
}
}

.sector-list-item::before{
    content: "";
display: inline-block;
border: none;
border-radius: 5px;
width: 8px;
height: 8px;
background-image: -moz-linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
background-image: -webkit-linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
background-image: -o-linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
background-image: -ms-linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
background-image: linear-gradient(270deg, #FF6E2F 0%, #F84343 100%);
margin-right: 8px;
}

.show-hidden-sector-items {
    font-size: 1em;
line-height: 1.2em;
text-align: center;
letter-spacing: 0.1em;
margin: 0;
padding: 0;
position: relative;
cursor: pointer;

@media screen and (min-width: 950px) and (max-width: 2500px) {
    display: none;
 }

 .border-red {
    border-bottom: 2px solid #fc5a38; 
 }
}

.show-hidden-sector-items::after {
    position: absolute;
    top: 0;
    left: 66%;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 3.5em;
    content: "\25BC";
    font-size: 1.1em;
    text-align: center;
    color: #fff;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: none;
 }
}

.mobile-display {
    display: none;
    @media screen and (min-width: 950px) and (max-width: 2500px) {
        display: block;
     }
}